.MovieDetail {
  color: white;
  background-color: rgb(48, 48, 48);
  padding: 40px 0;

  &__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    flex: 1;
    margin: 0 10px;
  }

  &__title {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__image {
    width: 100%;
    height: auto;
    margin-bottom: 30px;

    img {
      border-radius: 0.5rem;
      max-width: 100%;
    }
  }

  &__details {
    font-size: 24px;
    margin-bottom: 30px;
  }

  &__detail {
    margin-bottom: 10px;

    span {
      font-weight: bold;
      margin-right: 10px;
    }
  }

  &__button {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    background-color: #0071c5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 24px;
    text-decoration: none;

    &:hover {
      background-color: #005896;
    }
  }
}
